{% load static %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'importcsv' %}">
                <i class="bi bi-grid"></i>
                <span>Importar transações</span>
            </a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link " href="{% url 'registro' %}">
                <i class="bi bi-grid"></i>
                <span>Criar Usuário</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'users_list' %}">
                <i class="bi bi-grid"></i>
                <span>Usuários</span>
            </a>
        </li>
        {% endif %}
        {% endif %}
        <!-- End Dashboard Nav -->
    </ul>


</aside><!-- End Sidebar-->