{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_header.html' %}
{% include 'partials/_sidebar.html' %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Historico de transações</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <nav id="header" class="header d-flex align-items-center">
        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->
    </nav>
    <section class="section dashboard min-vh-10 d-flex flex-column align-items-center justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Importações Realizadas</h5>
    
                    <!-- Table with stripped rows -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Data transações</th>
                                <th scope="col">Data Importação</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        {% if dados %}
                        {% for dado in dados %}
                        <tbody>
                            <tr>
                                <td>{{ dado.data|date:'d-M-Y' }}</td>
                                <td>{{ dado.impor }}</td>
                                
                                <td><a href="/finance/detail_transacoes/{{dado.id}}" class="btn btn-primary"
                                    role="button">Detalhar</a></td>
                            </tr>
    
                        </tbody>
                        {% endfor %}
                        {% endif %}
                    </table>
                    <!-- End Table with stripped rows -->
    
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

{% include 'partials/_footer.html' %}


{% endblock %}